@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ======= Your styling goes below ======= */

ul { list-style-type: none; }
a { text-decoration: none; }
.container { font-family: sans-serif; }

.wrapper {
  max-width: 1113px;
  width: 86.54%;
  margin: 0 auto;

}
/* style of header starts here */

header .wrapper {
  display: flex;
  justify-content: space-between;
}

h1 { 
  margin-top: 35px;
  width: 15.8%; }

  h1 a {
    width: 100%;
    display: inline-block;
    text-indent: -9999px;
  }

  h1 a img {
    width: 100%; 
    float: right; 
  }

  .hamburger {
    width: 35px;
    height: 25px;
    display: inline-block;
    display: none;
    position: relative;
  }

  .hamburger span {
    width: 100%;
    height: 5px;
    display: inline-block;
    position: absolute;
    background-color: #000;
    text-indent: -9999px;
  }

  .first-ham { top: 0; }
  .second-ham { top: 10px; }
  .third-ham { bottom: 0; }

  .nav-container {  
    display: flex;
    flex-basis: 67%;
    justify-content: space-between;

  }

  nav { flex-basis: 73%; }

  nav > ul {
    display: flex;
    justify-content: space-between;
  }

  .sub-menu {
    width: 211px;
    padding-top: 25px ;
    display: none;
    position: absolute;
    top: 85px;
    background-color: transparent;
    z-index: 1;
  }

  .sub-menu ul { 
    padding: 11px;
    background-color: #fff; 
  }

  .sub-menu ul li a {
    margin-top: 15px;
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 900;
    text-transform: capitalize;


  }

  nav ul li { position: relative; }

  nav ul li:hover .sub-menu { display: block; }
  nav > ul > li > a {
    padding: 42px 0 26px;  
    border-top: 5px solid transparent;
    display: inline-block;
    color: #000;
    font-size: .9vw;
    font-weight: 900;
    text-transform: uppercase;

  }

  nav > ul > li > a:hover {
    border-top: 5px solid #c2a090;
    color: #c2a090;
    transition: .3s;
  }

  .second-ul {
    z-index: 3;
    display: flex;
    flex-basis: 23%;
    justify-content: space-between
  }

  .second-ul li a {
    padding: 47px 0 26px;
    display: inline-block;
    color: #000;
    font-weight: 900;
    font-size: 1vw;
    text-transform: capitalize;
  }

  .second-ul:before {
    content: "";
    width: 2px;
    height: 22px;
    margin-top: 42px;
    display: inline-block;
    vertical-align: bottom;
    background-color: #000;

  }

  .second-ul li a:hover {
    color: #c2a090;
    transition: .3s;
  }

  .second-ul li:nth-child(2) a { color: #c2a090; }

  .sub-menu li a:hover {
    color: #c2a090;
    transition: .3s;

  }

  /* style for header ends here */
  /* banner style starts here */

  .banner { z-index: -1; }

  .banner .wrapper {
    max-width: 1286px;
    width: 100%;
    margin: 0 auto;
  }

  .banner-list li{ position: relative; }
  .banner-list li figure img{width: 100%;}

  .banner li h2 {
    padding: 3.8%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .7);
    font-size: 35px;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;

  }

  .banner li a {
    padding: 20px 50px;
    display: inline-block;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .banner li a:hover {
    background-color: #000;
    color: #fff;
    transition: .3s;
  }


  .banner-list .next {
    display: inline-block;
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
  }


  .banner-list { position: relative; }

  .slick-prev { 
    width: 129px;
    height: 67px;
    left: 0; 
    z-index: 1;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-indent: -9999px;
  }
  .slick-next { 
   width: 129px;
   height: 67px;
   right: 0; 
   z-index: 1;
   border-radius: 0;
   color: #fff;
   font-size: 15px;
   background-color: #000;
   text-indent: -9999px;

 }

 .slick-prev:hover,
 .slick-prev:focus,
 .slick-next:hover,
 .slick-next:focus { 
  background-color: #000; 
  color: #000;
}


.slick-prev:before {
  content: url('https://via.placeholder.com/45x30');
  margin-right: 25px;
}


.slick-next:before {
  content: url('https://via.placeholder.com/45x30');
  margin-right: 25px;
}

.slick-prev:before, 
.slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: 1;
  color: white;
  float: right;
  text-indent: 0;
}

/* banner style ends here */
/* style for brands starts here */

.brands .wrapper {
  max-width: 1111px;
  width: 86.39%;
  padding: 47px 0 97px;
  margin: 0 auto;
  text-align: center;
}

.brands  .wrapper figure img { width: 100%; }

.brands span {
  width: 78.8%;
  margin: 0 auto;
  margin-top: 44px;
  display: block;
  font-size: 16px;
}

/* style for brands ends here */
/* style for tab starts here */

.tabs {
  display: flex;
  justify-content: space-between;
}



.tabs > span {
  width: 31.5%;
  border: 3px solid #000;
  background-color: #fff; 
  padding: 15px 0;
  display: block;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}




.tab-container .tab-content { display: none; }

.internship,
.response, 
.social {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.internship li,
.response li,
.social li {
  padding: 25px 4%;
  flex-basis: 23.6%;
  border: 1px solid rgba(0,0,0,.6);
  text-align: center;
}

.internship li p,
.response li p,
.social li p 
{ 
  width: 100%;
  margin-top: 25px;
  font-size: 15px; 
}

.iframe-container { 
  width: 100%; 
  height: 0;
  margin-top: 55px;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}


.internship li a, 
.response li a,
.social li a {
  display: inline-block;
  text-indent: -9999px;
}

.internship li:nth-child(1) a:before,
.response li:nth-child(1) a:before,
.social li:nth-child(1) a:before {
    content: "\f0e1";
    padding: 5px;
    margin-top: 25px;
    float: left;
    background-color: #000;
    color: #fff;
    font-family: "Font Awesome 5 Brands";
    font-size: 25px;
    font-weight: 900;
    text-indent: 0;
}

.internship li:nth-child(2) a:before,
.response li:nth-child(2) a:before,
.social li:nth-child(2) a:before  {
  content: "\f099";
  margin-top: 25px;
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-size: 25px;
  font-weight: 900;
  text-indent: 0; 
}

.internship li:nth-child(3) a:before,
.response li:nth-child(3) a:before,
.social li:nth-child(3) a:before  {
  content: "\f16d";
  margin-top: 25px;
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-size: 35px;
  font-weight: 900;
  text-indent: 0; 
}

.internship li:nth-child(4) a:before,
.response li:nth-child(4) a:before,
.social li:nth-child(4) a:before  {
  content: "\f39e";
  margin-top: 25px;
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-size: 25px;
  font-weight: 900;
  text-indent: 0; 
}

.internship li:nth-child(6) a:before,
.response li:nth-child(6) a:before,
.social li:nth-child(6) a:before  {
  content: "\f167";
  margin-top: 25px;
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-size: 35px;
  font-weight: 900;
  text-indent: 0; 
}

.internship li:nth-child(5),
.response li:nth-child(5),
.social li:nth-child(5) { background-color: #c3a194; }


.internship li:nth-child(5) a,
.response li:nth-child(5) a,
.social li:nth-child(5) a {
  display: inline-block;
  font-size: 25px;
  text-indent: 0;
}


.internship li:nth-child(5) a span,
.response li:nth-child(5) a span,
.social li:nth-child(5) a span {
  display: block;
  color: #fff;
  font-size: 5vw;
  font-family: serif;
  text-align: left;
  text-transform: uppercase;
}

.internship li:nth-child(1) figure,
.response li:nth-child(1) figure,
.social li:nth-child(1) figure {
  width: 66%;
  margin: 0 auto;
}

.internship li figure img,
.response li figure img,
.social li figure img { width: 100%; }


.internship li:nth-child(6) span,
.response li:nth-child(6) span,
.social li:nth-child(6) span { display: block; }



.internship li:nth-child(2) p,
.response li:nth-child(2) p,
.social li:nth-child(2) p {
  margin-top: 100px;
}

.internship li:nth-child(5) a,
.response li:nth-child(5) a,
.social li:nth-child(5) a { margin-top: 55px; }

.internship li:nth-child(n+4):nth-child(-n+6),
.response li:nth-child(n+4):nth-child(-n+6),
.social li:nth-child(n+4):nth-child(-n+6) {
  margin-top: 25px;
}
/* style for tabs ends here */
/* style for footer starts here */



footer .wrapper { 
  padding: 8.9% 0 2%;
  text-align: center; }

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list li a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-list li {
  padding: 10px;
  margin-right: 15px;
  position: relative;
}

.footer-list li:nth-child(2):after{
  content: "";
  width: 2px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
  background-color: #000;
  position: absolute;
  top: 12px;
  right: -5px;
}

.footer-list li:nth-child(2):before{
  content: "";
  width: 2px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
  background-color: #000;
  position: absolute;
  top: 12px;
  right:125px;
}


footer .wrapper > span {
  margin-top: 5px;  
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
/* style for footer ends here */
/* style for media query 1024 starts here */

@media screen  and (max-width: 1024px){
  nav {
    order: 1; 
    flex-basis: 0; 
    margin-top: 35px;
    margin-bottom: auto;
  }
  nav > ul { display: none; }
  nav .hamburger { display: block; }
  nav:hover .first-ham { 
    top: 10px; 
    transform: rotate(45deg);
    transition: .5s;
  }
  nav:hover .second-ham { 
    display: none; 
  }
  nav:hover .third-ham {
    top: 10px;
    transform: rotate(105deg);
    transition: .5s;
  }

  nav:hover > ul { 
    display: block; 
    position: absolute;
    top: -490px;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    animation: drop 1.2s forwards;
  }

  @keyframes drop {
    0% { transform: translateY(-490px); }
    100% { transform: translateY(550px); }
  }

  nav ul li { text-align: center; } 
  nav ul li a {
    color: #fff;
    font-size: 2vw;
  }

    .second-ul li a { font-size: 1.2vw; }
    .second-ul:before { content: none; }

  .sub-menu {
    width: 100%;
    padding-top: 0px ;
    display: none;
    position: static;
    background-color: #fff;
    z-index: 1;
  }

   .sub-menu li a { color: #000; }

   nav ul > li:hover .sub-menu{ 
    display: block; 
    transition: 1s;
  }
  .banner li a  { top: 81%; }
}


/* style for 1024 media query ends here */

/* style for media query 900 starts here */

@media screen and (max-width: 900px){
  .banner li h2{ font-size: 23px; }

}

/* style for media query 900 ends here */
/* style for 768 media query starts here */

@media screen and (max-width: 768px){
  h1 { min-width: 105px; }
  .second-ul { flex-basis: 74%; }
  .second-ul li a {
    font-size: 16px;
  }
  .social { flex-wrap: wrap; }
  .social li { 
    flex-basis: 40%; 
    margin-top: 25px;
  }
  .banner li h2 { font-size: 19px; }
  .banner li a { 
    top: 83%;
    padding: 11px 37px; }
}

/* style for 768 media query ends here */
/* style for 480 starts here */
@media screen and (max-width: 480px) {
  .second-ul { 
    margin-left: 15px;
    flex-basis: 74%;}
  .second-ul li a { font-size: 12px; }
  .tabs { flex-wrap: wrap; }
  .tabs > span { 
    margin-top: 25px;
    flex-basis: 100%; 
  }

  .tab-content li { flex-basis: 100%; } 
   .social li {  flex-basis: 100%; }
 }

.footer-list { flex-wrap: wrap; }
.footer-list li { flex-basis: 100%; }
.footer-list li:nth-child(2):before { content: none; }
.footer-list li:nth-child(2):after { content: none; }
/* style for 480 ends here */

.tab-content.active { display: block; }


.tabs span.done { 
  background-color: #000; 
  color: #fff;
}


.tab-content.fadeOut {
  opacity: 0;
}

